aws_region = "us-east-1"

# Change these to unique names for your deployment
raw_bucket_name         = "fxlake-raw-data-unique"
processed_bucket_name   = "fxlake-processed-data-unique"
athena_results_bucket_name   = "fxlake-athena-results-unique"
cloudtrail_logs_bucket_name = "fxlake-cloudtrail-logs-unique"
quarantine_bucket_name      = "fxlake-quarantine-unique"

# Lambda names
lambda_fx_ingestion_name = "fxlake-fx-ingest-lambda"
lambda_validation_name     = "fxlake-check-query-results"

sns_email_address    = "your@email"
metric_namespace_prefix = "FXLake"

# FX data configuration
fx_base_api_url  = "https://api.frankfurter.dev/v1"
fx_start_date     = "2024-01-01"  # One year of data
fx_end_date       = "2024-12-31"
fx_base_currency  = "EUR"         # Base currency for rates

fred_api_key = "your-api-key"

# CI/CD deployer role (GitHub Actions OIDC role ARN)
deployer_role_arn = "arn:aws:iam::ACCOUNT_ID:role/Github_Actions"
